.main_cont_plate {
    display: flex;
    flex-direction: column;
    background-color: #322f2f;
    border-radius: 30px;
    border: 1px solid #262626;
    width: 350px;
    height: 500px;
    cursor: pointer;
}

.main_cont_plate:hover {
    outline: 3px solid #fff;
    transition: outline 0.3s;
}

.img_plate {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 30px 0 0;
    max-width: 430px;
    max-height: 280px;
    overflow: hidden;
}

.text_cont_plate {
    padding: 5%;
    color: #fff;
    line-height: normal;
    font-style: normal;
    /* font-weight: 800; */
    height: 250px;
    width: 320px;
}

.title_plate {
    font-size: 24px;
    margin-bottom: 15px;
}

.preview_plate {
    font-size: 17px;
    max-height: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 340px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.date_cont_plate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    color: #8a8a8a;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.ebannaya_tochka {
    margin: auto 2%;
}

@media screen and (max-width: 768px) {
    .main_cont_plate {
        width: 325px;
        height: 400px;
    }

    .text_cont_plate {
        height: 200px;
        width: 300px;
    }

    .title_plate {
        width: 300px;
        font-size: 20px;
    }

    .preview_plate {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        width: 300px;
        font-size: 16px;
    }
}

@media screen and (max-width: 430px) {
    .main_cont_plate {
        height: 400px;
        width: 300px;
    }

    .title_plate {
        width: 270px;
        font-size: 20px;
    }

    .preview_plate {
        font-size: 15px;
        width: 270px;
    }

    .date_cont_plate {
        font-size: 16px;
    }
}

@media screen and (max-width: 375px) {
    .main_cont_plate {
        height: 400px;
        width: 300px;
    }

    .title_plate {
        width: 270px;
        font-size: 20px;
    }

    .preview_plate {
        font-size: 15px;
        width: 270px;
    }
}