 .bottom-message {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    width: 300px;
    padding: 20px;
    background-color: var(--bg-color);
    border-radius: 12px;
    border: 2px solid var(--main-color);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    opacity: 0;
    transform: translateX(100%); 
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    z-index: 1000;
  }
  
  .bottom-message.show {
    transform: translateX(0); 
    opacity: 1;
  }
  
  .bottom-message.hide {
    transform: translateX(100%);
    opacity: 0;
  }
  
  .bottom-message.hide-reverse {
    transform: translateX(100%);
    opacity: 0;
  }