.pr-card {
    display: flex;
    flex-direction: row;
    border-bottom: #2b2b2b 1px solid;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 350px;
    /* cursor: pointer; */
}

.pr-card:hover {
    background-color: #2b2b2b;
    transition: 0.6s;
}

.pr-card-img {
    display: flex;
    width: 225px;
    height: 225px;
    overflow: hidden;
    margin-right: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.pr-card-img > img {
    max-width: 225px;
    max-height: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.pr-card-info-box {
    display: flex;
    color: #fff;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    word-wrap: break-word;
}

.pr-card-name {
    font-size: 20px;
    font-weight: 600;
}

.pr-card-desc {
    display: flex;
    text-align: start;
    font-size: 16px;
}

.pr-card-platform {
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

@media screen and (max-width: 650px) {
    .pr-card {
        height: 300px;
    }

    .pr-card-img {
        width: 200px;
        height: 200px;
    }

    .pr-card-info-box {
        width: 250px;
    }
}

@media screen and (max-width: 500px) {
    .pr-card {
        height: 230px;
    }

    .pr-card-img {
        width: 150px;
        height: 150px;
        margin-right: 25px;
    }

    .pr-card-info-box {
        width: 200px;
    }

    .pr-card-name {
        font-size: 18px;
    }

    .pr-card-platform > img {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 375px) {
    .pr-card {
        height: 200px;
    }

    .pr-card-img {
        height: 125px;
        width: 125px;
    }

    .pr-card-info-box {
        width: 150px;
    }
}