.contactform_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 750px;
    flex-shrink: 0;
    margin-top: 100px;
}

.title_contactform {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 350px;
    color: #ff752e;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.input_cont_contactform {
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    max-width: 750px;
    width: 100%;
    margin-top: 100px;
}

.form_cont {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.input_contactform {
    display: flex;
    width: 100%;
    height: 54px;
    padding: 15px 29px;
    margin-top: 30px;
    align-items: center;
    border-radius: 15px;
    border: 1px solid #606060;
    background-color: #1d1d1d;
    color: #fff;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    box-sizing: border-box;
}

.input_contactform::placeholder {
    color: #606060;
}

.input_contactform:focus {
    color: #fff;
}

.textarea_contactform {
    display: flex;
    resize: none;
    width: 100%;
    height: 125px;
    padding: 15px 29px;
    margin-top: 30px;
    align-items: center;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid #606060;
    background-color: #1d1d1d;
    color: #606060;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    box-sizing: border-box;
}

.textarea_contactform:focus {
    color: #fff;
}

.button_contactform {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    width: 100%;
    padding: 15px 0px;
    border-radius: 15px;
    background: #ff752e;
    color: #fff;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    transition: background-color 0.3s;
    cursor: pointer;
    transition: 0.3s;
    border: none;
}

.button_contactform:hover {
    background-color: #e38a46;
    transition: background-color 0.3s;
}

.button_contactform:disabled {
    background-color: #ba8a6c;
}

@media screen and (max-width: 768px) {
    .contactform_cont {
        margin-top: 0;
    }

    .title_contactform {
        font-size: 20px;
    }

    .input_contactform {
        font-size: 16px;
    }

    .textarea_contactform {
        font-size: 16px;
    }

    .input_cont_contactform {
        margin-top: 10px;
    }

    .button_contactform {
        font-size: 18px;
    }
}

@media screen and (max-width: 430px) {
    .form_cont {
        width: 80%;
    }
}