:root {
  --main-color: #ff752e;
  --main-color-hover: #e38a46;
  --bg-color: #1D1D1D;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  user-select: none;
  font-family: Inter;
}

.container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 5%;
}

p {
  margin: 0;
}

@media screen and (max-width: 435px) {
  .container {
    height: auto;
    padding: 15% 5%;
  }
}